html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
	image-rendering: pixelated;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@font-face {
  font-family: "silkscreen";
  src: url("../assets/fonts/silkscreen.ttf") format("truetype");
}

.menu {
    font-family: "silkscreen";
    font-size: 16px;
    border: 2px solid #696969;
    background-color: #292929;
    padding: 2px;
    position: absolute;
    top: 2px;
    left: 2px;
    color: lightgray;
}

.menu button {
    font-family: "silkscreen";
    font-size: 16px;
    background-color: Transparent;
    padding: 2px;
    color: lightgray;
}

.menu {
    position: absolute;
    top: 2px;
    left: 2px;
    border: 2px solid #696969;
}

button {
    border: 2px #696969;
    padding: 4px;
    border-style: dashed;
}
a {
	color:dodgerblue;
}

#score {
	display: inline;
}